---
pagination:
  data: redirects
  size: 1
  alias: redirect
permalink: "{{ redirect.from }}"
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0; url={{ redirect.to }}">
  <link rel="canonical" href="{{ redirect.to }}">
  <title>Redirecting&hellip;</title>
</head>
<body>
  <p>Redirecting to <a href="{{ redirect.to }}">{{ redirect.to }}</a>&hellip;</p>
</body>
</html>
